<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Access-Control-Allow-Origin" content="*">
		<title>Vine Tree</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/searchbar.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tree.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/loading_animation_boxes.css">
	</head>
	<body>
		<canvas id="canvas" class="vine-canvas">
			Your browser doesn't support canvas
		</canvas>
		<div class="top-bar" style="overflow: visible !important;">
			<span>#</span>
			<input id="input" type="text" value="" autofocus>
			<img id="submit" src="{{ STATIC_URL }}img/btn_go-off.png">
			<img id="suggest" src="{{ STATIC_URL }}img/btn_randomize-off.png">
			<div class="top-bar-tab">
				X
			</div>
			<div class="error-msg">
				<img src="{{ STATIC_URL }}img/icon-sad.png">
				<p class="detail">
					Sorry, your search gave us no recent results.
				</p>
				<p class="heading">
					Try Again!
				</p>
			</div>
		</div>
		<div id="animation_container">
			<div id="animation_block_1" class="barlittle"></div>
			<div id="animation_block_2" class="barlittle"></div>
			<div id="animation_block_3" class="barlittle"></div>
			<div id="animation_block_4" class="barlittle"></div>
			<div id="animation_block_5" class="barlittle"></div>
		</div>
		<div id="notification" class="notification"></div>
		<div class="vine-boxes"></div>
	</body>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}js/searchbar.js"></script>
	<script src="{{ STATIC_URL }}js/tree.js"></script>
	
	<script src="{{ STATIC_URL }}js/analytics.js"></script>
</html>
