body {
	margin: 0 auto;
	background-color: #00A47A;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
}

.top-bar {
	position: absolute;
	text-align: center;
	padding: 5px 32px 6px 32px;
	background-color: rgba(0, 0, 0, 0.20);
	border-radius: 0 0 6px 6px;
	border: none;
	box-shadow: inset 0px 20px 20px -26px #000000;
}

.top-bar span {
	position: relative;
	color: white;
	font-size: 16px;
}

.top-bar input[type="text"] {
	text-align: center;
	width: 100px;
	color: white;
	background-color: transparent;
	border: 0;
	border-bottom: solid 1px rgba(255, 255, 255, 0.25);
}

.top-bar input[type="text"]:focus {
	outline: 0;
}

.top-bar img {
	width: 22px;
	cursor: pointer;
	margin-bottom: -6px;
}

.top-bar-tab {
	width: 24px;
	font-size: 10px;
	padding: 2px 0;
	position: absolute;
	bottom: -17px;
	background-color: rgba(0, 0, 0, 0.20);
	border-radius: 0 0 6px 6px;
	cursor: pointer;
}

.notification {
	position: absolute;
	text-align: center;
	display: none;
	top: 60px;
	left: 0px;
	width: 100%
}

.parent-tag-div {
	color: #FFFFFF;
	text-align: left;
	position: relative;
	left: 0;
	top: 0;
}

.parent-tag-text {
	background-color: #08765D;
}

.metrics-div {
	color: #FFFFFF;
	text-align: left;
	background-color: #3699DC;
	position: relative;
	display: none;
}

.div-text-padding {
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 5px;
	padding-left: 5px;
}

.child-tags-div {
	color: #FFFFFF;
	text-align: left;
	position: absolute;
}

.vine-canvas {
	z-index: 0;
	top: 0;
	left: 0;
	position: absolute;
}

.vine-box {
	float: left;
	text-align: center;
}

.vine-video {
	border: 1px dotted #999;
}

#animation_container {
	position: absolute;
	text-align: center;
	top: 60px;
	display: none;
}

#save {
	position: absolute;
	color: #FFFFFF;
	background-color: #08765D;
	text-align: left;
	left: 20px;
	top: 60px; 
	display: none;
}